.element {
    background-color: #019fe1;
    width: 100px;
    height: 100px;
}

.element:hover {
    animation-name: move;
    animation-duration: 1s;
    transform: translate(100%);
}

@keyframes move {
    from {
        transform:translate(0px);
    }
    to {
        transform:translate(100%);
    }
}